<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>新しいメモ-SmartMemo</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-center mb-4">
                新しいメモ
            </h1>
            
            <form method="post">
                {% csrf_token%}
                
                <div class="mb-3">
                    <label class="form-label">
                        タイトル
                    </label>
                    <input type="text" name="title" class="form-control">
                 </div>

                 <!--カテゴリ-->
                 <div class="mb-3">
                    <label class="form-label">
                        カテゴリ
                    </label>
                    <select name="category" class="form-select">
                        <option value="">
                            --------
                        </option>
                        {% for category in categories %}
                        
                        <option value="{{ category.id }}">
                            {{ category.name }}
                        </option>

                        {% endfor %}

                    </select>
                 </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            内容 (Markdown形式で記述可能)
                        </label>
                        <textarea id="memo-content" name="content" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            プレビュー
                        </label>
                        <div id="preview" class="border rounded p-3" style="height:375px; overflow-y:auto;"></div>
                    </div>
                </div>
                 
                 <button type="submit" class="btn btn-success">
                    保存
                </button>

                <a href="/" class="btn btn-secondary">
                    戻る
                </a>

            </form>
        </div>
        <!--javascript-->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dompurify@3/dist/purify.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/theme/monokai.min.css">
        <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/mode/markdown/markdown.min.js"></script>
        
        <script>
            const previewDiv = document.getElementById('preview');
            const textarea = document.getElementById('memo-content');

            //textareaをCodlabに変換
            const editor = CodeMirror.fromTextArea(textarea, {
                mode: 'markdown',
                lineNumbers: true,
                lineWrapping: true,
                theme:'monokai',
            });

            editor.setSize('100%',375);//高さプレビュー欄を揃える

            function updatePreview(){
                    const rawHTML = marked.parse(editor.getValue());
                    previewDiv.innerHTML = DOMPurify.sanitize(rawHTML);
            }
            

            //入力のたびにプレイヤーを更新
            editor.on('change',updatePreview);

            //フォーム送信前に、Codemirrorの内容をtextareaに反映
            const form = document.querySelector('form');
            form.addEventListener('submit', ()=>{
                editor.save(); 
            });
        </script>
    </body>
</html>