{% extends "smartmemo/base.html" %}
{% load static %}
{% block title %}
{{ memo.title }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">

            {% if memo.category %}
            <a href="{% url 'category' memo.category.id %}" class="text-decoration-none">
                <span class="badge bg-primary">
                    {{ memo.category.name }}
                </span>
            </a>
            {% endif %}

            <h2>{{ memo.title }}</h2>
            <hr>

            <div class="memo-content" id="memo-content-display">
                {{ memo.content_html|safe }}
            </div>

            <div class="mt-4">
                <a href="{% url 'edit' memo.id %}" class="btn btn-warning btn-sm">編集</a>
                <a href="{% url 'delete' memo.id %}" class="btn btn-danger btn-sm">削除</a>
                <a href="/" class="btn btn-secondary btn-sm">一覧へ戻る</a>
            </div>
            
        </div>
    </div>
</div>

<!--KaTeX-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"></script>

<script src="https://cdn.jsdelivr.net/pyodide/v0.26.2/full/pyodide.js"></script>

<script src="{% static 'js/markdown_viewer.js' %}"></script>


{% endblock %}
