{% extends "smartmemo/base.html"%}

{% block title%}
Smart memo
{% endblock %}

{% block content %}

<h1>
SmartMemoへようこそ!
</h1>
<p>
    シンプルなメモ管理アプリ
</p>
        
{% for memo in memos %}
<div class="card mb-3 shadow-sm"> <!--カードに影をつける-->
    <div class="card-body">

        {% if memo.category%}
        <a href="{% url 'category' memo.category.id %}" class="text-decoration-none">
            <span class="badge bg-primary mb-2">
                {{ memo.category.name}}
            </span>
        </a>
        {% endif %}


        <h4 style="font-size: 2rem;">
            <a href="{% url 'detail' memo.id %}" style="text-decoration: none; color: inherit;">
                {{ memo.title }}
            </a>
        </h4>
        
        <p class="text-muted mb-2" style="font-size: 0.9rem;">
            更新日：{{ memo.updated_at|date:"Y年m月d日 H:i" }}
        </p>

    </div>
</div>
{% endfor %}
        
<a href="create/" class="btn btn-primary btn-lg">
    +新しいメモ作成
</a>

{% endblock %}